################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/KeyLogger_MASM/.vs/KeyLogger_MASM/v15
