################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/MASM_keyLogger/.vs/MASM_keyLogger/v15
/Busqueda/.vs/Busqueda/v15
